<div class="frame">

<div class="top">
  <h3 class="pad">ToDo</h3>

  <form [formGroup]="form" (submit)="processForm()">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input type="text" formControlName="description" matInput>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Priority</td>
      </tr>
      <tr>
        <td>
          <mat-radio-group formControlName="priority">
            <mat-radio-button value="high">High</mat-radio-button>
            <mat-radio-button value="med">Medium</mat-radio-button>
            <mat-radio-button value="low">Low</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dueDate">
            <mat-hint>
              @if (!form.get('dueDate')?.valid) {
              <span [ngClass]="{ 'error': isPast }">You cannot travel back in time!</span>
              }
            </mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        </td>
      </tr>
      <tr>
        <td>
          <button mat-flat-button [disabled]="invalid()">Add</button>
        </td>
      </tr>
    </table>   
  </form>
</div>

<br>

<div class="bottom">
  @if (todos.length <= 0) {
    <h3>Looks like you're free!</h3>
  } @else {
    <div class="innerBottom">
      <h3>Task</h3>
      <table mat-table [dataSource]="todos" class="mat-elevation-z8">
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Task </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef> Priority </th>
          <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef> Due Date </th>
          <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="['description', 'priority', 'dueDate']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['description', 'priority', 'dueDate'];"></tr>
        <!-- @for (todo of todos; let idx = $index; track idx) {
          <tr>
            <td>
              <h3 [innerText]="todo.description"></h3>
              <div class="apart">
                <span [innerText]="todo.priority"></span>
                <span [innerText]="todo.dueDate"></span>
              </div>
            </td>
            <td class="align">
              <div>
                <button type="button" (click)="deleteTask(idx)">X</button>
              </div>
              <div>
                <button type="button" (click)="taskCompleted(idx)">Completed</button>
              </div>
            </td>
          </tr>
        } -->
      </table>
    </div>
  }
</div>
</div>

